<div class="bg-img">
  <div class="content">
      <header>Login</header>
      <form action="#">
          <div class="field">
              <span class="material-icons">email</span>
              <input type="text" required placeholder=" Email ">
          </div>
          <div class="field">
            <span class="material-icons">password</span>
              <input type="password" class="password" required placeholder="Senha">

          </div>
          <div class="pass">
              <a href="#">Esqueceu a senha?</a>
          </div>
          <div class="field">
              <input type="submit" value="LOGIN">
          </div>

          <div class="link">

          </div>
          <div class="signup">

          </div>
      </form>
  </div>
</div>
