.my-logo {
  height: 55px;

}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> develop

.dark{
  background-image: url(../../assets/topo.jpg);
  background-position: center;
}
<<<<<<< HEAD
=======
=======
>>>>>>> develop
>>>>>>> develop
