<div class="card-panel blue-grey darken-2 center card-title white-text size-font: 20px">Lista Livros </div>

<div class="example-container">
  <table  class="striped">
    <thead class=" blue-grey darken-1 white-text   ">
    <th></th>
    <th scope = "col">ID.           </th>
      <th scope = "col">Livro        </th>
      <th scope = "col">Autor       </th>
      <th scope = "col">Tipo      </th>
      <th scope = "col">Editora  </th>
      <th scope = "col">Categoria     </th>

    </thead>
      <tbody >
        <tr *ngFor = 'let liv of livros'>
          <td></td>
              <td>{{liv.id}}</td>
              <td>{{liv.livro}}</td>
              <td>{{liv.autor}}</td>
              <td>{{liv.editora}}</td>
              <td>{{liv.tipo}}</td>
              <td>{{liv.categoria}}</td>

        </tr>
      </tbody>
</table>
</div>

