.table-container {
<<<<<<< HEAD
  height: 370px;
  max-width: 100%;
  overflow: auto;

}

.tdTable {
  text-align: center;
  vertical-align: middle;
=======
  height: 300px;
  max-width: 100%;
  overflow: auto;

 }
 table, th, td {
  text-align: center;
>>>>>>> develop
}


